<launch>

	<arg name="stop_mode" default="false"/>
 
	<node pkg="x_rot_control" type="vfh_controller_node" name="vfh_controller" output="screen" respawn="true">
		<param name="stop_mode_1" type="boolean" value="false" />
		<param name="stop_mode_2" type="boolean" value="$(arg stop_mode)" />
	</node>
	<node pkg="x_rot_control" type="xrot_avoidance_control_can.py" name="xrot_avoidance_control_can" output="screen" respawn="true"></node> 

	<!-- RECORD -->
	<!-- <node pkg="rosbag" type="record" name="rosbag_recorder" args="-o /media/ubuntu/data/ -a" output="screen"/>  -->

</launch>
