<launch>

	<arg name="stop_mode" default="false"/>
	<arg name="point_distance" default="0"/>
 
	<node pkg="x_rot_control" type="vfh_controller_node" name="vfh_controller" output="screen" respawn="true">
		<param name="stop_mode_1" type="boolean" value="false" />
		<param name="stop_mode_2" type="boolean" value="$(arg stop_mode)" />
		
		<param name="speed_upper_lim" value="0.5" />
	    <param name="window_size_param_max" value="5"/>
	    <param name="num_of_sector" value="180"/>
	    <param name="k_ref_dir" value="2"/>
	    <param name="prev_dir_weight" value="0.08"/>
	    <param name="target_dir_weight_initial" value="0.3"/>
	    <param name="obstacle_weight" value="0.75"/>
	    <param name="inflation_radius" value="0.6"/>
	    <param name="direction_speed_lim" value="30"/>
	    <param name="direction_gain_multi" value="0.1"/>
	    <param name="direction_gain_offset" value="0.3"/>
	    <param name="speed_gain_multi" value="0.1"/>
	    <param name="speed_gain_offset" value="0.2"/>
	    <param name="max_detection_dist" value="3"/>
	    <param name="bound_ang" value="90"/>

	</node>

	<param name="path_point_distance" value="$(arg point_distance)" />

	<node pkg="x_rot_control" type="xrot_avoidance_control_can_dist0.py" name="xrot_avoidance_control_can" output="screen" respawn="true"></node>
	
	<!-- RECORD -->
	<include file="$(find xrot_launch)/xrot_record.launch"/> 
	<!-- <node pkg="rosbag" type="record" name="rosbag_recorder" args="-o /media/ubuntu/data2/ -a" output="screen"/>   -->

</launch>
