<launch>
	<arg name="rviz" default="0"/>
	
	<group if="$(arg rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find xrot_launch)/rviz/sensors.rviz"/>
	</group>
			
	<!-- ZED 2 -->
	<!-- <include file="$(find zed_wrapper)/launch/zed2.launch">
	</include>  -->

	<!-- LiDAR -->
	<!-- <include file="$(find lslidar_c32_decoder)/launch/lslidar_c32.launch">
	</nclude>  -->

	<!-- Sensors on CAN (RADAR and Laserline Sonar) -->
	<node pkg="socketcan_bridge" type="socketcan_to_topic_node" name="socketcan_to_topic_node" output="screen" respawn="true">
		<param name="can_device" type="string" value="can1" />
	</node>
	<node pkg="radar_pa" type="radar_pa_node.py" name="radar_pa_node" output="log" respawn="true" ></node>
	<node name="radar2pcd_pa_node" pkg="radar_pa" type="radar2pcd_pa_node.py" output="log" respawn="true"/>

	<!-- CAMERA -->
	<!-- <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="log" respawn="true" ></node> -->
	  


	<!-- SONAR maxbotix -->
	<!-- <node pkg="maxbotixs_sonar" type="max_botixs_sonar_dx.py" name="maxbotix_sonar_dx" output="screen">
    </node>

	<node pkg="maxbotixs_sonar" type="max_botixs_sonar_sx.py" name="maxbotix_sonar_sx" output="screen">
    </node>  -->

	<include file="$(find xrot_launch)/xrot_tf.launch"/> 

	<!-- RECORD -->
	<!-- <include file="$(find xrot_launch)/xrot_record.launch"> 
	</include>  -->

	

</launch>