<launch>
  
  <!-- Chassis to Radar -->
  <node pkg="tf" type="static_transform_publisher" name="radar_to_chassis" args="0 0 0.65 0 0 0 radar chassis 100"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="radar_to_lidar" args="-0.1 0 0.105 0.7 0 0 radar lidar 10"/>  
  <node pkg="tf" type="static_transform_publisher" name="radar_to_zed" args="-0.1 -0.07 0.18 0 0 0 radar zed2_left_camera_frame 10"/> -->

  <!-- Sonar from Radar -->
  <node pkg="tf" type="static_transform_publisher" name="radar_to_sonar_dx" args="0 0.25 0.03 -0.6458 0 0 radar sonar_dx 100"/>
  <node pkg="tf" type="static_transform_publisher" name="radar_to_sonar_sx" args="0 -0.25 0.03 0.6458 0 0 radar sonar_sx 100"/>

</launch>
