<launch>
  
  <!-- Lidar from Radar -->
  <node pkg="tf" type="static_transform_publisher" name="radar_to_lidar" args="-0.1 0 0.105 0.7 0 0 radar lidar 10"/>
  
  <!-- ZED from Radar -->
  <node pkg="tf" type="static_transform_publisher" name="radar_to_zed" args="-0.1 -0.07 0.18 0 0 0 radar zed2_left_camera_frame 10"/>

  <!-- Lidar from Radar -->
  <node pkg="tf" type="static_transform_publisher" name="radar_to_sonar1" args="0 0.26 0.06 -0.1 0 0 radar sonar1 10"/>
  <node pkg="tf" type="static_transform_publisher" name="radar_to_sonar2" args="0 -0.26 0.07 0.1 0 0 radar sonar2 10"/>

</launch>