<launch>
	<arg name="filename" default="xrot/"/>
	
	<node pkg="rosbag" type="record" name="rosbag_recorder" args="-o /media/ubuntu/data2/
/received_messages
/can_messages_A
/can_messages_B
/can_odometry
/radar_messages
/sonar_dx
/sonar_sx
/radar_pcd
/rosout
/rosout_agg
/tf
/tf_static
/trajectory
/trajectory_debug
/usb_cam/image_raw
/usb_cam/camera_info
/cost_debug_output
/map_debug_output
/var_debug_output
/yape/cmd_vel
/speed_request
/ref_dir_pose
/goal_pose
 " 
    output="log"/> 

</launch>
