<launch>
	<arg name="filename" default="xrot/sim_bags/"/>
	
	<node pkg="rosbag" type="record" name="rosbag_recorder" args="-o /home/solomon/bags/$(arg filename) 
/clock
/cloud_no_ground
/cloud_no_background
/max_botix1_range
/max_botix2_range
/move_base_simple/goal
/point_raw
/radar_messages
/radar_pcd
/received_messages
/tf
/tf_static
 " 
    output="log"/>
</launch>